.list-result {
    background-color: #EEEEEE;
    border-radius: 15px;
}

.list-result:hover {
    background-color: #c9c8c8;
    cursor: pointer;
}

.time-remaining-div {
    width: 10px;
    height: 30px;
    background-color: #EEEEEE;
    color: #272727;
}

.activeClicked li {
    border-radius: 10px;
}

.table-structure th {
    background-color: black;
    color: white;
    text-align: center;
}